body {
  background-color: #f0f0f0;
  font-size: 1rem;
}

#root > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

fieldset {
  border: 0;
  margin-inline: 0;
  padding-inline: 0;
}

fieldset span {
  background-color: #ffffff;
}

button {
  padding: 0.5rem;
  align-self: flex-end;
  background-color: #4181e6;
  color: #ffffff;
  border: none;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}
